{% extends 'base.html.twig' %}

{% block title %}Les meilleurs articles se trouvent sur ce blog{% endblock %}

{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/diapo1.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/diapo2.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/diapo3.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="row">
        {% for article in articles %}
            <div class="col-md-4">
                <article class="mt-5 bg-light rounded border">
                   <div class="text-center">
                        <img src="{{ asset('images/' ~ article.image) | imagine_filter('medium_image_homepage')}}" alt="image-par-défaut">
                   </div>
                    <div class="p-3">
                        <a href="{{ path('app_show_article', {id: article.id}) }}"><h2 class="mt-2">{{ article.title }}</h2></a>
                        <div>{{ article.content|u.truncate(150, ' ...') }}</div>
                        <a href="{{ path('app_show_article', {id: article.id}) }}" class="btn btn-primary mt-3">Lire la suite</a>
                        <a href="{{ path('article_like', {id: article.id}) }}" class="js-like">
                            {% if app.user and article.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ article.likes | length }}</span>
                            <span class="js-label">
                                {% if not app.user %}
                                    {# Pas de label #}
                                {% elseif app.user and article.isLikedByUser(app.user) %}
                                    je n'aime plus
                                {% else %}
                                    j'aime
                                {% endif %}
                            </span>
                        </a>         
                  </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}
